/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Theme Variables */
.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #0d7377;
  --secondary-color: #ffa500; /* Light orange accent */
}

.dark-theme {
  --bg-color: #181818;
  --text-color: #eaeaea;
  --accent-color: #0d7377;
  --secondary-color: #ff6347; /* Tomato color */
}

/* Container for consistent layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Section */
header {
  text-align: center;
  color: var(--bg-color);
  padding: 80px 0;
  border-bottom: 5px solid var(--secondary-color);
  background-image: url("assets/background.jpg"); /* Reference the background image */
  background-size: cover; /* Make sure the image covers the header */
  background-position: center center; /* Center the image */
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Dark overlay to improve text contrast */
  z-index: 1;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  z-index: 2;
  position: relative;
}

header .tagline {
  font-size: 1.2rem;
  z-index: 2;
  position: relative;
}

header .cta-button {
  padding: 12px 25px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 2;
  position: relative;
}

header .cta-button:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

header .theme-toggle {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

header .theme-toggle:hover {
  background-color: var(--bg-color);
  color: var(--accent-color);
}

/* Section Styles */
.section {
  padding: 80px 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
}

p {
  font-size: 1.1rem;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.skill {
  background-color: var(--bg-color);
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2),
    -8px -8px 15px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.project-card {
  background-color: var(--bg-color);
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2),
    -8px -8px 15px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.project-card .project-link {
  font-size: 1.1rem;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-card .project-link:hover {
  color: var(--secondary-color);
}

.project-tags {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.project-tag {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 10px;
  text-transform: uppercase;
}
